<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/My.css" th:href="@{/css/My.css}">
</head>
<body>
<script src="/js/dynamic.js" th:href="@{/js/dynamic.js}"></script>

<!--navigation-->
<nav class="ui inverted attached segment m-padded-tb-mini" >
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" th:href="@{/}" class="item"><i class="home icon"></i>Home page</a>
            <a href="#" th:href="@{/types/-1}" class="item"><i class="idea icon"></i>Section</a>
            <a href="#" th:href="@{/tags/-1}" class="item"><i class="tags icon"></i>Tags</a>
            <a href="#" th:href="@{/archives}" class="item"><i class="clone icon"></i>Archives</a>
            <a href="#" th:href="@{/about}" class="item"><i class="info icon"></i>About me</a>
            <div class="right item">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>


</nav>


<br>
<br>
<br>
<div class="m-container-small m-padded-tb-massive">
    <div class="ui error message m-padded-tb-massive">
        <h1>404</h1>
        <p>Sorry, The resource you requested does not exist. Please, contact your administrator for more information!</p>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!--footer-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/WeChat.jpg" th:src="@{/images/WeChat.jpg}" class="ui rounded image" style="width: 150px">
                    </div>
                </div>


            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-mini">News</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">User Story</a>
                    <a href="#" class="item">User Story</a>
                    <a href="#" class="item">User Story</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-mini">Contact me</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email: Zacharyxs0414@gmail.com</a>
                    <a href="#" class="item">Instagram: zacharyxs</a>
                    <a href="#" class="item">QQ: 1040860708</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-opacity-mini">Xiyin Song</h4>
                <p class="m-opacity-mini">This is my personal blog. I will share my.....</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-spaced m-opacity-mini">Copyright@2021 Designed by Xiyin Song</p>
    </div>


</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

</body>
</html>
